::selection, ::-moz-selection, select {
  color: rgb(17, 17, 17);
  background: rgb(199, 241, 43);
}

#scroll {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

header {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  background-color: black;
  z-index: 10;
}

header a, header a:visited {
  color: rgb(18, 161, 42);
  text-decoration: none;
}

header img {
  position: absolute;
  margin: 0px 20px 10px;
  padding-top: 10px;
}

header h1 {
  position: relative;
  padding-top: 10px;
  padding-left: 30px;
}

.langWrap {
  float: right;
  text-align: center;
  margin-top: 25px;
  margin-right: 20px;
  width: 80px;
  height: 32px;
  border-style: solid;
  border-color: rgb(18, 161, 42);
  border-width: 5px;
  border-top: none;
  border-left: dashed;
  border-right: dashed;
  border-left-width: 6px;
  border-right-width: 6px;
}

.langWrap a, .langWrap a:visited {
  color: white;
  text-decoration: none;
}

.langWrap a.active {
  font-weight: bold;
  color: black;
  background: rgb(199, 241, 43);
  outline-style: solid;
  outline-color: rgb(199, 241, 43);
  outline-width: 1%;
}

.gradient-text {
  font-size: 54px;
  font-weight: bolder;
  width: 800px;
  display: block;
  background-image: linear-gradient(90deg, blue, red);
  background-clip: text;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  background-size: 0%;
  transition: background-size 2000ms cubic-bezier(0, 0.8, 0.1, 1);
  color: transparent;
}


button#reload {
  position: relative;
  bottom: 10px;
  margin-right: auto;
}
@media screen and (max-width: 1200px) {
  .gradient-text {
    font-size: 4.5vw;
    width: 70vw;
  }
}

@media screen and (min-width: 801px) {
  header img {
    width: 80px;
    height: 80px;
  }

  header h1 {
    top: 10px;
    left: 80px;
    width: 19rem;
    height: 5rem;
  }

  .text {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}
@media screen and (max-width: 800px) {
  header img {
    width: 10vw;
    height: 10vw;
  }

  header h1 {
    top: 1vw;
    left: 10vw;
    width: 36vw;
    font-size: 4vw;
    height: 10vw;
  }
  
  .langWrap {
    margin-right: 2.5vw;
  }

  .gradient-text {
    font-size: 4.8vw;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .langWrap {
    border-style: none;
    margin-top: 5vw;
    width: 16vw;
  }

  button#reload {
    margin-left: auto;
  }
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
}

footer img {
  width: 20px;
  height: 20px;
}

footer small {
  position: relative;
  top: -5px;
}

button {
  font-family: courier;
  border-radius: 0px;
  border-width: 3px;
  border-color: black;
  background-color: white;
  padding: 2px 20px;
}

.centred {
  text-align: center;
}

.fancy-link, .fancy-link:visited {
  background-image: linear-gradient(45deg, red, blue);
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease-in-out;

  color: rgb(0, 255, 42);
  text-decoration: none;
  font-weight: 600;
}

.fancy-link:hover {
  background-size: 100% 2px;
}

/* Presentational styles */
html {
  background-color: rgb(26, 26, 26);
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(18, 161, 42);
  font-family: 'Courier Prime', monospace;
  padding: 10px 2em;
  margin: 0px 5%;
  min-height: 860px;
}